{{ if .Title }}
  <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center">
    <h1 class="text-3xl font-semibold tracking-tight md:text-4xl">{{ .Title }}</h1>
    {{ if .Params.Description }}
      <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">{{ .Params.Description }}</p>
      <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">摄影: 不是已经晴天了吗</p>
      <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">相机设备: SonyA6000  镜头装备: 原厂18-50 适马: 16F 1.4DC 原厂: F4 24-105</p>
      <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">手机设备: Samsung Galaxy S23 Ultra 和 iPhone15Pro</p>

    {{ end }}
  </div>
{{ end }}