{{ if .Title }}
  <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center">
    <h1 class="text-3xl font-semibold tracking-tight md:text-4xl"> 太阳可以是蓝色 の 作品集</h1>
    {{ if .Params.Description  }}
    <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">作者: 太阳可以是蓝色</p>
    <!-- <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">{{ .Params.Description}}</p> -->
    {{ end }}
    <br>
    <p align="center">
      <a href="https://space.bilibili.com/477276392" target="_blank"><img src="https://img.shields.io/badge/%40%E4%BC%9A%E4%B8%80%E4%B8%AA%E4%BA%BA%E7%94%9F%E6%B4%BB-%2393BDF0?style=for-the-badge&logo=bilibili&logoSize=auto&label=Bilibili&labelColor=%2393BDF0&color=%23AAAAAA" alt="B站"/></a> </p>
    </p>
    <br>
    <p align="center">
      <a href="mq958125617" target="_blank"><img src="https://img.shields.io/badge/%40%E5%A4%AA%E9%98%B3%E5%8F%AF%E4%BB%A5%E6%98%AF%E8%93%9D%E8%89%B2-%23ACD7B7?style=for-the-badge&logo=wechat&logoSize=auto&label=WeChat&labelColor=%23ACD7B7&color=%23AAAAAA" alt="Wehctat"/></a>
    </p>
    </div>
{{ end }}